#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000000;  /* Pastikan root juga hitam */
  width: 100vw;
  min-height: 100vh;
}

@media (min-width: 1280px) {
  #root {
    max-width: 1280px;
  }
}
